@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  font-family: 'banner_supersquare'; }

body {
  background: #1E63B5; }

@font-face {
  font-family: 'MyriadPro';
  src: url("fonts/MyriadPro-Regular.eot");
  src: local("ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã¢â‚¬Â¹Ãƒâ€¦Ã¢â‚¬Å“ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Âº"), url("fonts/MyriadPro-Regular.woff") format("woff"), url("fonts/MyriadPro-Regular.ttf") format("truetype"), url("fonts/MyriadPro-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
a {
  text-decoration: none !important; }

@font-face {
  font-family: 'banner_supersquare';
  src: url("fonts/bpg_banner_supersquare_caps.eot");
  src: local("☺"), url("fonts/bpg_banner_supersquare_caps.woff") format("woff"), url("fonts/bpg_banner_supersquare_caps.ttf") format("truetype"), url("fonts/bpg_banner_supersquare_caps.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
/*hedaer*/
header .container-fluid {
  max-width: 1300px;
  padding-top: 25px;
  padding-bottom: 25px; }
header form.search input::placeholder {
  color: #fff;
  font-weight: bold; }
header form.search button {
  background-color: transparent;
  border: 0;
  color: #fff;
  font-size: 27px;
  padding: 1px;
  height: 38px; }
header form.form-group {
  margin-bottom: 0px; }
header form.search input {
  width: 315px;
  margin-left: 14px;
  background: transparent;
  border-radius: 50px;
  border: 1px solid #fff;
  color: #fff;
  font-weight: bold; }
header h1 {
  margin-bottom: 0px; }
header .user_nav a {
  padding: 6px 12px;
  transition: 0.2s;
  border-radius: 50px;
  display: inline-block; }
  header .user_nav a.register {
    color: #08087C;
    background: #FCC454;
    border: 1px solid transparent; }
    header .user_nav a.register:hover {
      background: #1E63B5;
      color: #fff;
      border: 1px solid #fff; }
  header .user_nav a.login {
    color: #fff;
    border: 1px solid #fff;
    margin-right: 14px; }
    header .user_nav a.login:hover {
      background: #FCC454;
      color: #08087C;
      border: 1px solid transparent; }

/*=======end hedaer====*/
/*=======start home_section====*/
section.home_section .container {
  background: #F2F2F2;
  padding: 80px 50px 70px;
  max-width: 1200px;
  background: url("images/homebg.png") top right, #F2F2F2;
  background-repeat: no-repeat;
  background-size: 47%;
  background-origin: border-box; }
  section.home_section .container .select_clsss select {
    width: 60px;
    background: #ccc;
    padding-left: 17px;
    margin-left: 20px; }
    section.home_section .container .select_clsss select:focus {
      box-shadow: none;
      outline: none; }

.location_filter ul li {
  margin-bottom: 10px;
  padding-right: 13px;
  margin-right: 0px;
  border-right: 2px solid #ccc; }
  .location_filter ul li.lastLi {
    border-right: 0px;
    padding-right: 0px; }
  .location_filter ul li a {
    font-size: 13px; }

.subject_filter ul li {
  margin-bottom: 10px;
  padding-right: 17px;
  margin-right: 0px;
  line-height: 19px;
  border-right: 2px solid #ccc; }
  .subject_filter ul li:last-child {
    border: none; }

.location_filter ul {
  font-size: 13px; }
  .location_filter ul a {
    transition: 0,2s;
    color: #000; }
    .location_filter ul a:hover, .location_filter ul a.active {
      color: #1E63B5; }
.location_filter select {
  width: 118px;
  background-color: transparent;
  border: none;
  color: #000;
  max-height: 200px;
  overflow-y: scroll; }
  .location_filter select option:last-child {
    overflow: hidden; }
  .location_filter select:hover {
    color: #1E63B5; }
.location_filter .filter {
  position: relative; }
  .location_filter .filter ul {
    display: none;
    max-height: 200px;
    overflow-y: scroll;
    position: absolute;
    background: #fff;
    width: 127%;
    top: 21px;
    z-index: 445; }
    .location_filter .filter ul li {
      border-right: 0px;
      list-style-type: none; }
      .location_filter .filter ul li a {
        display: block;
        margin-left: 10px; }
.location_filter input {
  width: 118px;
  background-color: transparent;
  border: none;
  color: #000; }
  .location_filter input:focus {
    outline: none;
    box-shadow: none; }
  .location_filter input option:last-child {
    display: none; }
  .location_filter input:hover {
    color: #1E63B5; }

.subject_filter ul a {
  color: #000;
  font-size: 13px; }
  .subject_filter ul a:hover, .subject_filter ul a.active {
    color: #1E63B5; }

.select_clsss {
  margin-bottom: 24px; }

/*table first*/
.first_tbale {
  font-weight: bold; }
  .first_tbale.table-bordered {
    border: 0px;
    background-color: #fff; }
    .first_tbale.table-bordered tr {
      padding-left: 20px; }
    .first_tbale.table-bordered td {
      border: 3px solid #dee2e6; }
    .first_tbale.table-bordered tr:first-child td {
      padding-top: 30px;
      border-top: 0px; }
    .first_tbale.table-bordered tr:last-child td {
      border-bottom: 0px; }
    .first_tbale.table-bordered td:last-child {
      border-right: 0px; }
    .first_tbale.table-bordered td:first-child {
      border-left: 0px; }
  .first_tbale tbody td {
    vertical-align: middle; }
    .first_tbale tbody td:first-child {
      width: 50%; }
    .first_tbale tbody td img {
      width: 40px;
      height: 40px;
      margin-right: 10px;
      border-radius: 50px; }

.reiting_table {
  padding: 0px 20px 20px;
  background: #fff;
  border-top: 40px solid #1E63B5;
  max-width: 95%; }

nav {
  background-color: #F4F4F4; }
  nav ul li:last-child a.page-link, nav ul li:first-child a.page-link {
    background: #1E63B5 !important;
    border-radius: 50px !important;
    color: #fff;
    line-height: 22px;
    padding: 0px 6px !important;
    margin: 0 8px; }
  nav ul li a.page-link {
    border: 0px !important;
    padding: 0 2px !important; }
    nav ul li a.page-link:focus {
      outline: none;
      box-shadow: none !important; }
    nav ul li a.page-link.active {
      color: #1E63B5; }
  nav ul .page-link {
    background-color: transparent;
    color: #000; }

.month_rting {
  background: #fff;
  box-shadow: 3px 4px 20px rgba(0, 0, 0, 0.3);
  width: 95%;
  margin-top: 181px; }
  .month_rting h2 {
    background: #1E63B5;
    text-align: center;
    color: #fff;
    padding: 3px;
    font-size: 20px;
    margin-bottom: 0px; }
  .month_rting div {
    padding: 6px;
    position: relative; }
    .month_rting div span {
      margin-left: 6px;
      color: #1E63B5;
      font-size: 15px; }
    .month_rting div select {
      width: 60px;
      padding-left: 20px;
      background: #ccc;
      display: inline-block;
      margin: auto;
      transform: translate(-50%, -50%);
      position: absolute;
      left: 50%;
      top: 50%; }
      .month_rting div select:focus {
        outline: none; }
  .month_rting table tr {
    background: #fff; }
    .month_rting table tr:nth-of-type(odd) {
      background-color: #F4F4F4; }
    .month_rting table tr td {
      padding: 6px; }
      .month_rting table tr td:first-child {
        width: 44%; }

footer {
  background: #ccc;
  padding: 10px 0;
  display: block;
  max-width: 1200px;
  margin: auto; }
  footer h3 {
    color: #1E63B5;
    margin-top: 14px; }
  footer ul {
    max-width: 1200px;
    margin: auto; }
    footer ul li {
      padding: 0 18px;
      margin: 14px 0;
      border-right: 2px solid #1E63B5; }
      footer ul li:last-child, footer ul li:nth-child(3) {
        border-right: 0px;
        padding-right: 0px; }

/*  responsive */
@media only screen and (max-width: 992px) {
  header form.search input {
    width: 80%; }

  .reiting_table {
    max-width: 100%; }

  .first_tbale tbody td:first-child {
    width: 62%; }

  section.home_section .container {
    background: #F2F2F2;
    padding: 50px 15px 40px; }

  footer ul li {
    border: none; }

  .reiting_table {
    padding: 0 3px 20px;
    font-style: 10px; }

  .first_tbale.table-bordered {
    border: 0px;
    background-color: #fff;
    font-size: 14px; }

  .first_tbale tbody td img {
    margin-right: 5px;
    width: 30px;
    height: 30px; }

  .first_tbale.table-bordered td {
    padding-left: 5px;
    padding-right: 5px; } }
@media only screen and (max-width: 576px) {
  header form.search input {
    padding: 4px 6px; }

  header form.search button {
    line-height: 34px;
    height: 34px; }
    header form.search button i {
      font-size: 20px;
      line-height: 34px;
      vertical-align: top; }

  header .user_nav a {
    padding: 4px 12px;
    border-radius: 50px;
    margin-top: 19px;
    display: inline-block; }

  h1 img {
    width: 50px;
    height: 50px; }

  .month_rting {
    margin-top: 50px; } }

/*# sourceMappingURL=style.css.map */
